# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\migue\OneDrive - Universidad de Oviedo\Documentos\01_CODIGO\Python\Proyect_ffmpeg\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
